<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897236687666-qec12umjfjudiftghkoa2pfrinlkt17q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897236687666-qec12umjfjudiftghkoa2pfrinlkt17q</string>
	<key>API_KEY</key>
	<string>AIzaSyCS8WqbGSwIoZncYtcWC9HMEodfBOZxEWc</string>
	<key>GCM_SENDER_ID</key>
	<string>897236687666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyun.movie.movieAppProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-mvt-proejct</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-mvt-proejct.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897236687666:ios:0388fc577faf996be5952b</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-mvt-proejct-default-rtdb.firebaseio.com</string>
</dict>
</plist>